@media (max-width: 767px) {
  .author-image {
    width: 40%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  

  .profile_info {
    margin-top: 10px; 
    text-align: center;
    ;
  }
}
