/* Styles for the selected avatar */
.selectedAvatar {
  border-radius: 50%; /* Makes the selected avatar circular */
  border: 2px solid white; /* Adds a white border around the avatar */
  background-color: #fcc44c; /* Yellow background to indicate selection */
  margin: 8px; /* Adds space around the avatar */
  height: 75px; /* Sets the height of the avatar */
  width: 75px; /* Sets the width of the avatar */
}

/* Styles for unselected avatars */
.avatar {
  border-radius: 0%; /* Keeps the avatar square when not selected */
  border: 2px solid white; /* Adds a white border around the avatar */
  margin: 8px; /* Adds space around the avatar */
  height: 75px; /* Sets the height of the avatar */
  width: 75px; /* Sets the width of the avatar */
}

/* Hover effect for avatars */
.avatar:hover {
  border-radius: 50%; /* Changes the avatar to a circle on hover */
  border: 2px solid white; /* Retains the white border */
  background-color: white; /* Changes background color to white on hover */
  cursor: pointer; /* Changes the cursor to a pointer to indicate clickability */
}

/* Flexbox container for avatar selection area */
.editAvatar {
  display: flex; /* Uses flexbox to align avatar images */
  flex-wrap: wrap; /* Allows avatars to wrap to the next line if necessary */
  align-items: center; /* Centers avatars vertically */
  justify-content: center; /* Centers avatars horizontally */
}

/* Margin adjustment for avatar change button or section */
.avatarChange {
  margin: 0 15%; /* Adds horizontal margins around the avatar change section */
}

/* Class to hide elements without removing them from the layout */
.invisible {
  visibility: hidden; /* Makes an element invisible but retains its space in the layout */
}
