.selectedAvatar {
  border-radius: 50%;
  border: 2px solid white;
  background-color: #fcc44c;
  margin: 8px;
  height: 75px;
  width: 75px;
}

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  margin: 8px;
  height: 75px;
  width: 75px;
}

.avatar:hover {
  border-radius: 30%;
  border: 2px solid white;
  background-color: white;
  cursor: pointer;
}

.editAvatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.avatarChange {
  margin: 0 15%;
}

.invisible {
  visibility: hidden;
}
