@mixin avatar-styles($border-radius, $background-color, $size) {
  border-radius: $border-radius;
  border: 2px solid $avatar-border-color;
  background-color: $background-color;
  margin: 8px;
  height: $size;
  width: $size;
}

.selectedAvatar {
  @include avatar-styles(50%, $selected-avatar-bg, $avatar-size); /* Circular selected avatar */
}

.avatar {
  @include avatar-styles(0%, transparent, $avatar-size); /* Square unselected avatar */
}
