// Override default variables before the import
$primary: #0dcaf0;
$secondary: #bdfa7b;
$info: #0dcaf0;
$danger: #ff52ce;
$warning: #fcc44c;
$header: white;
$stone: #999999;
$body-bg: white;
$body-color: black;
$font-family-base: "Raleway", sans-serif;
$decoration: #0dcaf0;
$link-color: $secondary;
$link-hover-color: $primary;
$card-border-color: $decoration;

// To modify an existing color in Bootstrap $theme-colors map,
// add the following to your custom Sass file:
// https://getbootstrap.com/docs/4.0/getting-started/theming/
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "warning": $warning,
  "header": $header,
  "stone": $stone,
  "card-border-color": $decoration,
);

.card {
  --bs-card-border-color: #{$card-border-color};
}

// Import Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";
