/* Your CSS Here */

main {
  text-align: center;
}



/* .track-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  flex-grow: 1;
  
  max-width: 80%;
  
}

.track-duration {
  text-align: end;
  white-space: nowrap;
  flex-grow: 0;
  flex-basis: 20%;
  margin-left: auto;
} */
