// Import custom variables and styles from custom.scss
@use "../../custom.scss" as *; // Use * to make all the variables available globally

// Ensure that your custom variables are accessible
// If you want to get a color from the Bootstrap $theme-colors map
$info: map-get($theme-colors, 'info') !default; // Defaults to Bootstrap 'info' color

.comment-card {
  align-items: flex-start;
  flex-wrap: nowrap;
  display: flex;
  gap: 10px;
  
  // If $info is defined or coming from your custom.scss
  background: $info; // Avoid using !important unless necessary
  border-radius: 5px;
}

.comment-author {
  display: flex;
  align-items: flex-start;
  font-size: 1.2em;
}

.comment-text {
  font-size: 1em;
}
