@media (max-width: 767px){
    
    .left-column{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .post{
        order: 1;
       
    }
    .search{
        order: 2;
    }
}